img.headimgSize{
	width:60px;height:60px;
}

img.QuestionCommentImgSize{
	max-width:60%;
	height:auto;
}

img.commentUserimgSize{
	width:50px;height:50px;
}

span.badgeCss{
	margin-top:5px;color:white;background-color:#0080FF;
}

.chat-headbox {
    position: relative;
    float: left;
    z-index: 2;
}

.msg-num {
    position: absolute;
    top: 0;
    left: 0;
    background: #e84a4a;
    color: #FFF;
    font-size:2em;
    border-radius: 50px;
    line-height: 22px;
    min-height: 22px;
    outline: medium none;
    padding: 0 7px;
    text-align: center;
    z-index: 10;
}

.list-head {
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 1px solid #ededed;
    border-radius: 50px;
}

.word{
	word-break:break-all;
	word-wrap:break-word;
}

.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}